*{
    padding-left: 5px;
}


.jumbotron {
    background-color: rgb(190, 190, 240);
}

#searchBtn {
    background-color: rgb(190, 190, 240);
    border-radius: 10px 10px 10px 10px;
}

.card {
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    background-color: rgb(190, 190, 240);
    /* display:none; */
    }

.show{
    display: block !important;

  }